.skills {
    padding: 5% 0;
    background: var(--bg-color-0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill__box {
    width: 80%;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sk__title {
    height: 10vh;
    font-size: 60px;
    text-transform: uppercase;
    font-family: var(--text-font);
    font-weight: 600;
    color: var(--bg-color-4);
}

.sk__title-top {
    margin-top: 2rem;
}

.sk__title h2 {
    border-bottom: 2px solid var(--bg-color-1);
}

.sk__box__container {
    margin-top: 2rem;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

.sk__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3;
}

.sk__box i {
    font-size: 160px; 
}

.sk__box p {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--text-font);
    text-transform: uppercase;
    color: var(--bg-color-4);
}

#icon_html {
    color: orange;
}

#icon_css {
    color: darkturquoise;
}

#icon_js {
    color: yellow;
}

#icon_react {
    color: darkturquoise;
}

.sk__title-bot {
    margin-top: 5rem;
}

.hobbies__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 60%;
    height: 160px;
    border: 4px solid var(--bg-color-4);
    border-radius: 1px;
    transition: .5s ease;
}

.hobbie__box__single {
    width: 190px;
    height: 160px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--bg-color-04);
    border-left: 3px solid var(--bg-color-4);
    transition: .4s ease;

}

.hobbie__box__single p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-family: var(--text-font);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--bg-color-4);
    text-decoration: none;
}

.hobbie__box__single:hover {
    transform: scale(1.2);
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bike:hover {
    background-image: url("./../../img/sk-bike.gif");
    background-position: center;
    background-size: cover;
}
.soccer:hover {
    background-image: url("./../../img/sk-soccer.gif");
    background-position: center;
    background-size: cover;
}
 .game:hover {
    background-image: url("./../../img/sk-videogames.gif");
    background-position: center;
    background-size: cover;
}
.music:hover {
    background-image: url("./../../img/sk-music.gif");
    background-position: center;
    background-size: cover;
}
.sports:hover {
    background-image: url("./../../img/sk-gym.gif");
    background-position: center;
    background-size: cover;
}

.hobbie__box__single p:hover {
    color: var(--bg-color-0);
}
@media (max-width: 1440px) {
    .hobbies__box {
        width: 80%;
    }
    .hobbie__box__single p {
        padding: 2%;
        width: 100%;
    }
}
@media (max-width: 1280px) {
    .hobbies__box {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .hobbies__box {
        width: 100%;
    }
}
@media (max-width: 769px) {
    .skills{
        padding: 2rem 0;
    }
    .sk__box__container {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 2rem;
    }
    .sk__box {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 15%;
        background-color: #ffffff10;
        gap: 3rem;
        position: relative;
        border-left: 2px solid var(--bg-color-4);
    }
    .sk__box i {
        font-size: 50px;
    }
    .sk__box p {
        width: 50%;
        text-align: center;
    }
    .hobbies__box {
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .hobbie__box__single{
        width: 100%;
        margin: 5%;
        height: 100%;
        background-color: #ffffff10;
        backdrop-filter: blur(2rem);
    }
    .hobbie__box__single a{
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 20px;
    }
    
}